article {
    width: 80%;
    margin: 0 auto;
    background-color: lightcoral;
    float: left;
    /*position: relative;*/
}
aside {
    width: 20%;
    margin: auto;
    background-color: #2f1bff;
    float: left;
}
.pane {
    position: relative;
    background-color: green;

}
.remove-button {
    position: absolute;
    top: 5px;
    right: 10px;
}
.red {
    background-color: red;
}